.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5 {
    font-weight: 600;
}

.md-nav__link {
  font-size: 1em;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #06035a;
  --md-default-fg-color: rgba(255,255,255,0.9);
  --md-default-fg-color--light: rgba(255,255,255,0.85);
  --md-default-fg-color--lighter: rgba(255,255,255,0.8);
  --md-default-fg-color--lightest: rgba(255,255,255,0.6);
  --md-default-bg-color: #000000;
  --md-accent-fg-color:  #8b85ff;
  --md-primary-fg-color--dark: #000000;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: rgb(66, 177, 214);
  --md-default-bg-color: #ffffff;
  --md-primary-fg-color--dark: #046fea;
}

.md-typeset .admonition, .md-typeset details {
  font-size: inherit;
}

:root {
  --md-text-font: "JetBrains Mono", "LXGW WenKai Screen"; 
  --md-code-font: "JetBrains Mono";
}


