.changelog-type-refactor {
    background-color: #c63f94b0;
}
.changelog-type-refactor::before {
    content: "文档重构";
}

[data-md-color-scheme="slate"] .timeline-card {
    background-color: rgba(50, 50, 50, 0.6);
}

[data-md-color-scheme="slate"] .timeline-content::before {
    background-color: rgba(50, 50, 50, 0.6);
}

[data-md-color-scheme="default"] .timeline-card {
    background-color: rgba(245, 245, 245, 0.6);
}

[data-md-color-scheme="default"] .timeline-content::before {
    background-color: rgba(245, 245, 245, 0.6);
}