/* 主页 */
.homepage {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    margin-top: 5%;
    font-size: 120%
}

[data-md-color-scheme="slate"] {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../assets/images/home_background_dark.jpg');
}


[data-md-color-scheme="default"] {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../assets/images/home_background_light_0.7.jpg');
    background-color: rgba(0, 0, 0, 0.3); /* 设置半透明背景色 */
    /* position: relative; 使伪元素相对定位 */
}

