.md-sidebar.md-sidebar--secondary, .md-sidebar.md-sidebar--secondary md-sidebar__scrollwrap {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9); /* 初始时稍微缩小，增加动画效果 */
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.md-sidebar.md-sidebar--secondary.show, .md-sidebar.md-sidebar--secondary md-sidebar__scrollwrap.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}