{% extends "base.html" %}

<!-- 标题计数器 -->
{% block content%}
{{ super() }}
{% if page and page.meta and page.meta.counter %}
<link rel="stylesheet" href="/stylesheet/counter.css">
{% endif %}
{% endblock %}

<!-- 主页标题修改 -->
{% block htmltitle %}
{% if page and page.meta and page.meta.home %}
    <title>{{ config.site_name }}</title>
{% elif page and page.meta and page.meta.title %}
    <title>{{ page.meta.title }} - {{ config.site_name }}</title>
{% elif page and page.title and not page.is_homepage %}
    <title>{{ page.title | striptags }} - {{ config.site_name }}</title>
{% else %}
    <title>{{ config.site_name }}</title>
{% endif %} 
{% endblock %}

{% set class = "md-header" %}
<div class="md-header__title" data-md-component="header-title">
    <div class="md-header__ellipsis">
      <div class="md-header__topic">
        <span class="md-ellipsis">
          {{ config.site_name }}
        </span>
      </div>
      <div class="md-header__topic" data-md-component="header-topic">
        <span class="md-ellipsis">
          {% if page and page.meta and page.meta.title %}
            {{ page.meta.title }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </span>
      </div>
</div>


    









