# Editors Files
.vscode
.idea
.crossnote

# Desktop Services Store
.DS_Store

# Static Files
site
test

# Automation Supports
.trash
.base_repo
sync_patch.patch

encryptcontent.cache
test

# For Course Policies
mistakes.md


# Background for Notebook

background_light
background_dark