.vscode
.idea
.crossnote
.obsidian
.cache
.DS_Store

site
test
drafts

.trash
.base_repo
sync_patch.patch

encryptcontent.cache
test

passwords.yml
asm

sync.sh

__pycache__

*.tex
*.log
*.aux

.ignored-commits
