.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5 {
    font-weight: 600;
}

/* h2::before, h3::before, h4::before {
  content: "# ";
} */

/* .md-typeset {
  font-size: .7rem;
} */

/* center,
p,
li {
  font-size: medium;
} */

.md-nav__link {
  font-size: 1em;
}

/* .md-tabs {
  background-color: #090343;
} */

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #06035a;
  --md-default-fg-color: #fafafa;
  --md-default-bg-color: #000000;
  --md-accent-fg-color:  #8b85ff;
  --md-primary-fg-color--dark: #000000;
}

[data-md-color-scheme="default"] {
  --md-primary-fg-color: rgb(66, 177, 214);
  --md-default-bg-color: #fffaf5;
  --md-primary-fg-color--dark: #046fea;
}

.md-typeset .admonition, .md-typeset details {
  font-size: inherit;
}

:root {
  --md-text-font: "JetBrains Mono", "LXGW WenKai Screen"; 
  --md-code-font: "JetBrains Mono";
  --md-primary-fg-color:        #090343;
}


