.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5 {
    font-weight: 600;
}

body {
    font-family: "LXGW WenKai", sans-serif;
}

.md-typeset .admonition, .md-typeset details {
  font-size: inherit;
}